@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header,
footer,
section,
.quote {
  width: 1028px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0 48px;
}

.background {
  background-color: #1f2937;
}

.hero {
  display: flex;
  align-items: center;
  gap: 54px;
  background-color: #1f2937;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

p {
  font-size: 18px;
  color: #dddfe2;
  padding: 5px 0;
  line-height:130%;
}

.info {
  padding-bottom: 110px;
}

button {
  background-color:#3882f6;
  color: #fff;
  padding: 8px 36px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

header {
  background-color: #1f2937;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink:0;
  padding-top:10px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  text-align: center;
  padding: 55px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.grid-item {
  text-align: center;
  width: 170px;
}

.grid-item p {
  color: #4b5563;
}

.grid-item img {
  width: 170px;
  height: 170px;
  border-radius: 16px;
}

.quote {
  padding: 120px 0;
}

.quote-bg {
  background-color: #e5e7eb;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  width: 799px;
  margin: auto;
}

figcaption {
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  margin-right:140px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

img {
  width:440px;
  height: 250px;
  object-fit:cover;
}

.call-to-action {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 0 100px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 36px;
  margin:100px 0;
}

.call-to-action button {
  border: 2px solid #e5e7eb;
}

h3 {
  font-size: 22px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
 
 /* make p padding-top lesser 
 color brighter
 footer*/




